<section class="section logos animate">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="wrapper">
                    <div class="itemLeft item1">
                        <img class="image" src="images/Icon_images/bnd.png" alt="bnd">
                    </div>
                    <div class="itemLeft item2">
                        <img class="image" src="images/Icon_images/cbs.png" alt="cbs">

                    </div>
                    <div class="itemLeft item3">
                        <img class="image" src="images/Icon_images/cnbc.png" alt="cnbc">

                    </div>
                    <div class="itemLeft item4">
                        <img class="image" src="images/Icon_images/cnn.png" alt="cnn">

                    </div>
                    <div class="itemLeft item5">
                        <img class="image" src="images/Icon_images/entrepreneur_logo.png" alt="entrepreneur_logo">

                    </div>
                    <div class="itemLeft item6">
                        <img class="image" src="images/Icon_images/forbes_logo.png" alt="forbes_logo">

                    </div>
                    <div class="itemLeft item7">
                        <img class="image" src="images/Icon_images/foxbusinesss.png" alt="foxbusinesss">

                    </div>
                    <div class="itemLeft item8">
                        <img class="image" src="images/Icon_images/marketwatch.png" alt="marketwatch">

                    </div>
                    <div class="itemLeft item9">
                        <img class="image" src="images/Icon_images/inc_logo.png" alt="inc_logo">

                    </div>
                    <div class="itemLeft item10">
                        <img class="image" src="images/Icon_images/seekingalpha.png" alt="seekingalpha">

                    </div>
                    <div class="itemLeft item11">
                        <img class="image" src="images/Icon_images/wsj.png" alt="wsj">

                    </div>
                </div>

                <div class="wrapper">
                    <div class="itemRight item1">
                        <img class="image" src="images/Icon_images/bnd.png" alt="bnd">

                    </div>
                    <div class="itemRight item2">
                        <img class="image" src="images/Icon_images/cbs.png" alt="cbs">

                    </div>
                    <div class="itemRight item3">
                        <img class="image" src="images/Icon_images/cnbc.png" alt="cnbc">

                    </div>
                    <div class="itemRight item4">
                        <img class="image" src="images/Icon_images/cnn.png" alt="cnn">

                    </div>
                    <div class="itemRight item5">
                        <img class="image" src="images/Icon_images/entrepreneur_logo.png" alt="entrepreneur_logo">

                    </div>
                    <div class="itemRight item6">
                        <img class="image" src="images/Icon_images/forbes_logo.png" alt="forbes_logo">

                    </div>
                    <div class="itemRight item7">
                        <img class="image" src="images/Icon_images/foxbusinesss.png" alt="foxbusinesss">

                    </div>
                    <div class="itemRight item8">
                        <img class="image" src="images/Icon_images/marketwatch.png" alt="marketwatch">

                    </div>
                    <div class="itemRight item9">
                        <img class="image" src="images/Icon_images/inc_logo.png" alt="inc_logo">

                    </div>
                    <div class="itemRight item10">
                        <img class="image" src="images/Icon_images/seekingalpha.png" alt="seekingalpha">

                    </div>
                    <div class="itemRight item11">
                        <img class="image" src="images/Icon_images/wsj.png" alt="wsj">

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section logos">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="logo-wrapper">
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/bnd.png" alt="bnd">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/cbs.png" alt="cbs">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/cnbc.png" alt="cnbc">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/cnn.png" alt="cnn">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/entrepreneur_logo.png" alt="entrepreneur_logo">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/forbes_logo.png" alt="forbes_logo">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/foxbusinesss.png" alt="foxbusinesss">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/marketwatch.png" alt="marketwatch">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/inc_logo.png" alt="inc_logo">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/seekingalpha.png" alt="seekingalpha">
                    </div>
                    <div class="logo-item">
                        <img class="logo-image" src="images/Icon_images/wsj.png" alt="wsj">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



