<section class="section oval-image-image animate">
    <div class="container">
        <div class="row">
            <div class="col col-12 oval">
                <div class="overlay-text">Dr. John Torrens</div>
                <div class="oval-container">
                    <img src="/images/John/Torrens.png" class="oval-image">
                </div>
                <div class="rotating-text">
                    <div class="text-wrapper">
                        <span>Test</span>
                        <span>Entrepreneur</span>
                        <span>Educator</span>
                        <span>Author</span>
                        <span>Speaker</span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>