<section class="section home animate">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="left-right">
                    <div class="left">
                        <p>Hello, and thanks for stopping by! I’m <span class="highlight1">John Torrens</span>, a
                            professor,
                            entrepreneur, and advocate for living a balanced, intentional life.</p>
                        <p>My career has taken me on an incredible journey—founding and scaling businesses in
                            healthcare,
                            education, and wellness while mentoring the next generation of entrepreneurs.</p>
                        <p>As a Professor of Entrepreneurial Practice at Syracuse
                            University,
                            I’m passionate about helping others navigate the challenges of building something from the
                            ground up, all while maintaining their well-being.</p>
                    </div>
                    <div class="right">
                        <p>I’ve shared my insights on ADHD and Entrepreneurship in my book, <a
                                href="https://www.amazon.com/Lightning-Bottle-Entrepreneurs-Harness-Their/dp/B08SGMZZ6Y/ref=tmm_pap_swatch_0?_encoding=UTF8&dib_tag=se&dib=eyJ2IjoiMSJ9.N9_ihbq4RpjcCMspezYnAw.dwnwERJrNn5DvxA5xX-EqhMyKD4atUtTPI8zjHVoZ7k&qid=1721567840&sr=1-1"
                                class="italic" target="_blank">Lightning in a Bottle: How Entrepreneurs Can Harness
                                Their ADHD to Win</a>, and in my popular
                            TEDx talk, <a href="https://www.youtube.com/watch?v=XdT4DIiX7Nk" class="italic"
                                target="_blank">ADHD as an Entrepreneur’s Superpower</a>.</p>
                        <p>Through these platforms and more, my goal is to show entrepreneurs how they can thrive in
                            both their professional and personal lives.</p>
                        <p>My latest endeavor is my podcast,
                            <a href="https://podcasts.apple.com/ge/podcast/the-total-entrepreneur-mind-body-spirit/id1777325689"
                                class="italic" target="_blank">The Total Entrepreneur: Mind, Body, Spirit</a>,
                            where I combine my passions for teaching, entrepreneurship, and living a balanced life.
                        </p>
                        <p>Outside the classroom or boardroom, you can find me cycling through the rural farmland of
                            upstate
                            NY, riding waves in Costa Rica, or staying curious about the latest healthspan innovations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>