<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6 order-md-2 order-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe style="border-radius: 10px;" class="embed-responsive-item" width="560" height="315"
                    src="{{ site.data.settings.ted.ted__url }}" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div style="text-align: left; text-justify: inter-word;" class="col-md-6 order-md-1 order-2">
            <h2 class="section__title">{{ site.data.settings.ted.ted__title }}</h2>

            <p class="hero__description">{{ site.data.settings.ted.ted__description }}</p>
        </div>
    </div>
</div>