<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6 order-md-2 order-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe style="border-radius: 10px;" class="embed-responsive-item" width="560" height="315"
                    src="https://www.youtube.com/embed/XdT4DIiX7Nk?si=yEhQJzimROnFON4k" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div style="text-align: justify; text-justify: inter-word;" class="col-md-6 order-md-1 order-2">
            <h2 class="section__title">Watch John’s TEDx Talk</h2>
            <blockquote style="margin: 20px 0;">
                <p style="font-size: 22px">ADHD as an Entrepreneur’s Superpower
                    at TEDxSyracuseUniversity</p>
            </blockquote>
            <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
            <p class="hero__description">Did you know that 62% of highly successful entrepreneurs 
                have traits consistent with ADHD? Is this a coincidence, or 
                is there more to the story? In his talk, In this fascinating talk, 
                John Torrens uses research and his years of experience to 
                show how this is no mere coincidence — ADHD can be a 
                "entrepreneur's superpower."</p>
        </div>
    </div>
</div>